.arrow {
    width: 12px;
    height: auto;
    margin: 0 auto;
    position: absolute;
	// transform: rotate(-90deg);
    // transform: matrix(0.71,-0.71,0.71,0.71,0,0);

    .oval {
        width: 6px;
        height: 6px;
        border-radius: 3px;
        background-color: red;
        margin: 0 auto;
      }
          
      .connection-line {
        width: 2px;
        transform: rotate(180deg);
        background-color: red;
        margin: 0 auto;
      }
      
      .end {
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 12px solid red;
        width: 0;
        margin: 0 auto;
      }
}
