.blm {
    .blm-graph {
        width: 100vw;
        margin: auto;

        &-element {
            border: 1px solid;
            width: 100%;
            height: 40px;

            &-highlighted {
                border: 1px solid #ff0000 !important;
                z-index: 10;
            }
        }
    }
}
